.ItemHeader {
  font-family: "Spirax", cursive;
}

.CardItem {
  border-radius: 5px;
  height: 400px;
  padding: 20px;
  width: 300px;
}

.Info {
  color: #433512;
  font-family: "Spirax", cursive;
}
