* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

}

.CardItem {
    
    box-shadow: 20px 15px 30px -10px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

.ItemImg {
    width: 200px;
    height: 200px;
    padding: 10px;
}