.NavBar{
    display: flex;
    
    color: #433512;
    background-color: #CA9A4E;

}

.titulo{
    font-family: 'Spirax', cursive;
    margin-left: 10px;
}

.Option{
    display: inline;
	padding: 10px;
	font-family: 'Spirax', cursive;
    font-size: 25px;
    text-decoration: none;
    
    
}

.Categories{
    margin:auto;
}